@use "../abstracts" as abstracts;

.profile {
  display: flex;
  width: 100%;
  max-width: 24rem;
  padding: abstracts.$spacing-300;
  flex-direction: column;
  gap: abstracts.$spacing-300;
  background-color: abstracts.$color-grey-800;
  border-radius: abstracts.$spacing-150;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: abstracts.$spacing-300;
  }

  &__avatar {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin-bottom: 0.25rem;
    color: abstracts.$color-white;

    @include abstracts.text-preset-1;
  }

  &__location {
    color: abstracts.$color-green;

    @include abstracts.text-preset-2-bold;
  }

  &__description {
    text-align: center;
    color: abstracts.$color-white;

    @include abstracts.text-preset-2;
  }

  &__list {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: abstracts.$spacing-200;
    list-style: none;
  }

  &__link {
    display: block;
    width: 100%;
    padding: abstracts.$spacing-150 0;
    background-color: abstracts.$color-grey-700;
    border-radius: abstracts.$spacing-100;
    text-align: center;
    text-decoration: none;
    color: abstracts.$color-white;

    @include abstracts.text-preset-2-bold;
    @include abstracts.transition(background-color, color);

    &:hover,
    &:focus-visible {
      background-color: abstracts.$color-green;
      color: abstracts.$color-grey-700;
    }

    &:focus-visible {
      outline: 0.125rem solid abstracts.$color-white;
      outline-offset: 0.125rem;
    }

    &:active {
      background-color: color-mix(in hsl, abstracts.$color-green, black 10%);
      transform: scale(0.98);
    }
  }

  @media screen and (width >= 768px) {
    padding: abstracts.$spacing-500;
  }
}
