/* Fonts */

$inter-fonts: (
  400: 'Inter-Regular',
  700: 'Inter-Bold',
);

@each $weight, $file in $inter-fonts {
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: $weight;
    src: url('../../assets/fonts/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
