/* Colors */

$color-grey-900: hsl(0, 0%, 8%);
$color-grey-800: hsl(0, 0%, 12%);
$color-grey-700: hsl(0, 0%, 20%);

$color-green: hsl(75, 94%, 57%);

$color-white: hsl(0, 0%, 100%);

/* Spacing */

$spacing-500: 2.5rem;
$spacing-300: 1.5rem;
$spacing-200: 1rem;
$spacing-150: 0.75rem;
$spacing-100: 0.5rem;
$spacing-50: 0.25rem;
